:root {
  --primary-color: #6a148e;
  --secondary-color: #ff5722;
  --secondary-color-dark: #f34007;
  --black: #333333;
  --white: #eeeeee;
  --light-grey: #cccccc;

  --layout-gap: 2rem;

  --heading-font: 'Helvetica Neue', Helvetica, sans-serif;
  --body-font: Helvetica, Arial;
}

body {
  background: var(--background);
  color: var(--black);
  font-family: var(--body-font);
  font-size: 1.1rem;
  margin: 0;
}