.container {
  box-sizing: border-box;
  margin: auto;
  max-width: 100%;
  padding: 0 var(--layout-gap);
  width: 1160px;
}

main {
  display: grid;
  grid-template-columns: minmax(0,1fr) 300px;
  grid-gap: var(--layout-gap);
  max-width: var(--maxWidth);

  & > aside {
    padding: 1rem;
  }

  @media (max-width: 1024px){
    display: block;

    aside {
      height: 0;
      width: 0;
    }
  }
}
