zoopla-listing-form {
  position: relative;
  z-index: 99;
}

.overlay {
    background-color: rgba(0,0,0,.6);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.form-modal {
    background-color: #fff;
    border-radius: 1px;
    box-sizing: border-box;
    left: 50%;
    max-height: 85vh;
    max-width: 95%;   
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1.4rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 480px;

    header h3 {
        border-bottom: solid 1px var(--light-grey);
        margin: 0 0 1.4rem;    
        padding-bottom: .75rem;
    }
}

.form-field {
    margin-bottom: 1rem
}
.form-field label {
    display: block;
    margin-bottom: .25rem;
    width: 100%;
}
.form-field input,
.form-field textarea {
    border: solid 1px var(--light-grey);
    border-radius: 1px;
    margin-bottom: .25rem;
    font-size: 1rem;
    box-sizing: border-box;
    padding: .6rem;
    width: 100%;
}
.form-field.two-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    label {
        flex: 0 0 100%
    }
    input{
    width: 49%;
  }
}
.form-field.two-column.address {
    input{
    width: 70%;
    &+ input {
        width: 28%;
    }
  }
}
.form-field.error input,
form.submitted textarea:invalid, 
form.submitted input:invalid {
  background-color: var(--error-tint);
  border-color: var(--error);
}

.checkbox {
  position: relative;

  input[type=checkbox] {
    opacity: 0;
    pointer-events: none;
        position: absolute;

    &+label {
      padding-left: 2rem;

      &::before{
        border: solid 1px var(--light-grey);
        content: '';
        display: block;
        height: 1.4rem;
        left: 0;
        position: absolute;
        top: -.15rem;
        width: 1.4rem;
      }
    }
    &:checked + label:before{
      content:'✓';
      font-size: 1.6rem;
      line-height: 1.5rem;
      text-align: center;
    }
  }
}

.btn-group {
  text-align: right;
}

.uploaded-photos img {
  max-height: 80px;
  max-width: 80px;
  margin-right: .4rem;
  transition: filter .15s linear;
  
  &:hover{
    filter: grayscale(1)
  }
}

@media (max-width: 413px) {
    .form-field.two-column input {
      width: 100%
    }
}
